<ul class="list-unstyled post-list">
  <% postList.forEach(item => { %>
  <li>
    <a class="author" href="/posts/<%= item.author._id %>">
      <img src="/img/<%= item.author.imgURL %>" title="<%= item.author.username %>" class="img-circle ">
    </a>
    <a class="post" href="/posts/one/<%= item._id %>">
      <span><%= item.title %></span>
      <span class="pull-right"><%= item.createDate %></span>
    </a>
  </li>
  <% }) %>
</ul>